.cardContainer 
  width 350px
  height 300px
  background rgba(255,255,255,0.1)
  color #4c3f6a
  display flex 
  flex-direction column
  margin-bottom 20px
  & > h5 
   padding 30px 12px
   letter-spacing 2px
   font-family 'Poppins'
   font-weight bold
  & > span
    font-weight bold
    font-family 'Poppins'
    font-size 40px
    text-align center
    padding 40px 0px

@media screen and (min-width: 600px)
  .cardContainer
    width 250px
    height 200px
    & > span
      padding 0px 
      margin 10px 0px 0px 0px