
.input
    width: 50%
    align-items : center
    padding-left: 25%

.checkbox
    width: 50%
    align-items: center  
    padding-left: 25%

.button
    width: 50%
    padding-left: 30%
    padding-bottom: 5%
   
.header
    align-items: center  
    padding-left: 40%
    padding-top: 5%


.rediobutton
    align-items: center  
    padding-left: 25%

// .logo
//     align-items: center
//     padding-left: 30%
//     // padding-top: 20%