.input
    width: 50%
    align-items : center
    padding-left: 10%


.checkbox
    align-items: center  
    padding-left: 10%

.button
    width: 60%
    padding-left: 5%
    padding-bottom: 5%
    justify-content space-around
    display: flex
    margin: 0 auto


   .home
    color: #4c3f6a

.rediobutton
    align-items: center  
    padding-left: 10%

.logo
    align-items: center
    padding-left: 30%
    padding-top: 20%
.homeIcon
    padding-left: 5%
    padding-top: 2%
    color: #4c3f6a
.container
    margin-top: 15%    
.iconh
    color: #4c3f6a
.buttons
    padding 12px 0px
    display flex
    justify-content center
    align-items center
    

.form-container
    margin-top 100px
    display flex
    justify-content center
    align-items center
   
